# Get Ordinals

Get the ordinal rankings for each team from the kaggle file

In [1]:
import pandas as pd

pd.set_option('display.max_columns', 100)

df = pd.read_csv(r'..\data\unprocessed\kaggle\MMasseyOrdinals.csv')

# only using 2012 or later
df = df.loc[df['Season'].between(2012, 2023), :].reset_index(drop=True)

df

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
0          2012              7         AP    1104           19
1          2012              7         AP    1112           16
2          2012              7         AP    1124           12
3          2012              7         AP    1143           24
4          2012              7         AP    1153           21
...         ...            ...        ...     ...          ...
3456670    2023            133        WOL    1473          333
3456671    2023            133        WOL    1474          167
3456672    2023            133        WOL    1475          258
3456673    2023            133        WOL    1476          304
3456674    2023            133        WOL    1477          305

[3456675 rows x 5 columns]

Only include last available rankings pre-tournament

In [2]:
df_last_available = (
    df
    .sort_values(by=['Season', 'RankingDayNum'])
    .groupby(['Season', 'SystemName'])
    .tail(1)
    .reset_index(drop=True)
    [['Season', 'SystemName', 'RankingDayNum']]
)

df_last_available

     Season SystemName  RankingDayNum
0      2012        EBB             71
1      2012        REI            127
2      2012        7OT            133
3      2012        ADE            133
4      2012         AP            133
..      ...        ...            ...
795    2023        WIL            133
796    2023        WLK            133
797    2023        WMV            133
798    2023        WOB            133
799    2023        WOL            133

[800 rows x 3 columns]

In [3]:
df = pd.merge(
    df, 
    df_last_available,
    how='right',  # or inner
    on=['Season', 'SystemName', 'RankingDayNum'],
)

df

        Season  RankingDayNum SystemName  TeamID  OrdinalRank
0         2012             71        EBB    1102          168
1         2012             71        EBB    1103          199
2         2012             71        EBB    1104           22
3         2012             71        EBB    1105          257
4         2012             71        EBB    1106          282
...        ...            ...        ...     ...          ...
267076    2023            133        WOL    1473          333
267077    2023            133        WOL    1474          167
267078    2023            133        WOL    1475          258
267079    2023            133        WOL    1476          304
267080    2023            133        WOL    1477          305

[267081 rows x 5 columns]

Pivot

In [4]:
df_ordinals = df.pivot(
    index=['Season', 'TeamID'],
    columns=['SystemName'],
    values=['OrdinalRank'],
).reset_index()

df_ordinals.columns = [i[1] if i[1] else i[0] for i in df_ordinals.columns]

df_ordinals

,Season,TeamID,7OT,ACU,ADE,AP,ARG,ATP,AWS,BAR,BBT,BIH,BLS,BNM,BNT,BNZ,BOB,BOW,BPI,BUR,BWE,CBR,CJB,CNG,COL,COX,CPA,CPR,CRO,CRW,CTL,CWL,D1A,DAV,DC,DC2,DCI,DDB,DES,DII,DOK,DOL,DP,DUN,EBB,EBP,EMK,ESR,FAS,FDM,...,PPR,PRR,PTS,REI,REW,RME,RMS,ROG,RPI,RSL,RT,RTB,RTH,RTP,RTR,RWP,SAG,SE,SEL,SFX,SGR,SMN,SMS,SP,SPR,SPW,SRS,STF,STH,STM,STS,STY,TBD,TMR,TPR,TRK,TRP,TS,TW,UPS,USA,WIL,WLK,WLS,WMR,WMV,WOB,WOL,YAG,ZAM
0,2012,1102,146.0,NaN,152.0,NaN,NaN,NaN,NaN,NaN,185.0,177.0,NaN,120.0,NaN,NaN,168.0,NaN,161.0,169.0,NaN,NaN,174.0,180.0,168.0,NaN,199.0,140.0,206.0,NaN,NaN,NaN,NaN,NaN,191.0,NaN,177.0,NaN,NaN,NaN,177.0,185.0,NaN,170.0,168.0,166.0,NaN,NaN,NaN,NaN,...,NaN,NaN,203.0,174.0,161.0,NaN,NaN,196.0,168.0,NaN,149.0,161.0,147.0,175.0,168.0,NaN,175.0,161.0,156.0,185.0,NaN,NaN,NaN,NaN,NaN,176.0,NaN,NaN,173.0,NaN,NaN,NaN,201.0,167.0,NaN,NaN,NaN,NaN,88.0,NaN,NaN,152.0,172.0,NaN,NaN,NaN,158.0,172.0,NaN,NaN
1,2012,1103,80.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,54.0,77.0,NaN,128.0,NaN,NaN,86.0,NaN,80.0,82.0,NaN,NaN,61.0,76.0,82.0,NaN,77.0,105.0,60.0,NaN,NaN,NaN,NaN,NaN,66.0,NaN,92.0,NaN,NaN,NaN,71.0,77.0,NaN,119.0,199.0,69.0,NaN,NaN,NaN,NaN,...,NaN,NaN,62.0,78.0,84.0,NaN,NaN,69.0,55.0,NaN,58.0,82.0,88.0,69.0,55.0,NaN,74.0,75.0,87.0,75.0,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,63.0,NaN,NaN,NaN,92.0,72.0,NaN,NaN,NaN,NaN,86.0,NaN,NaN,88.0,75.0,NaN,NaN,NaN,85.0,65.0,NaN,NaN
2,2012,1104,35.0,NaN,31.0,NaN,NaN,NaN,NaN,NaN,36.0,39.0,NaN,21.0,NaN,NaN,27.0,NaN,30.0,31.0,NaN,NaN,58.0,28.0,34.0,NaN,24.0,35.0,52.0,NaN,NaN,NaN,NaN,NaN,35.0,NaN,51.0,NaN,NaN,NaN,37.0,40.0,NaN,40.0,22.0,24.0,NaN,NaN,NaN,NaN,...,NaN,NaN,40.0,27.0,48.0,NaN,NaN,56.0,36.0,NaN,29.0,32.0,33.0,51.0,35.0,NaN,29.0,39.0,33.0,43.0,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,29.0,NaN,NaN,NaN,32.0,39.0,NaN,NaN,NaN,NaN,44.0,NaN,NaN,35.0,25.0,NaN,NaN,NaN,34.0,41.0,NaN,NaN
3,2012,1105,338.0,NaN,324.0,NaN,NaN,NaN,NaN,NaN,334.0,335.0,NaN,338.0,NaN,NaN,341.0,NaN,336.0,339.0,NaN,NaN,332.0,336.0,338.0,NaN,328.0,337.0,315.0,NaN,NaN,NaN,NaN,NaN,331.0,NaN,337.0,NaN,NaN,NaN,337.0,342.0,NaN,337.0,257.0,338.0,NaN,NaN,NaN,NaN,...,NaN,NaN,320.0,338.0,328.0,NaN,NaN,327.0,342.0,NaN,340.0,334.0,341.0,332.0,342.0,NaN,340.0,338.0,338.0,337.0,NaN,NaN,NaN,NaN,NaN,328.0,NaN,NaN,334.0,NaN,NaN,NaN,342.0,338.0,NaN,NaN,NaN,NaN,343.0,NaN,NaN,340.0,340.0,NaN,NaN,NaN,336.0,333.0,NaN,NaN
4,2012,1106,300.0,NaN,284.0,NaN,NaN,NaN,NaN,NaN,305.0,312.0,NaN,333.0,NaN,NaN,318.0,NaN,308.0,323.0,NaN,NaN,315.0,318.0,308.0,NaN,303.0,317.0,285.0,NaN,NaN,NaN,NaN,NaN,295.0,NaN,318.0,NaN,NaN,NaN,321.0,319.0,NaN,332.0,282.0,318.0,NaN,NaN,NaN,NaN,...,NaN,NaN,308.0,323.0,301.0,NaN,NaN,289.0,308.0,NaN,326.0,303.0,324.0,304.0,308.0,NaN,320.0,320.0,312.0,318.0,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN,307.0,NaN,NaN,NaN,333.0,324.0,NaN,NaN,NaN,NaN,326.0,NaN,NaN,315.0,323.0,NaN,NaN,NaN,316.0,306.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,2023,1473,336.0,NaN,NaN,NaN,321.0,350.0,NaN,343.0,341.0,338.0,NaN,NaN,NaN,344.0,NaN,NaN,NaN,NaN,344.0,335.0,NaN,NaN,338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,351.0,NaN,NaN,344.0,NaN,NaN,344.0,349.0,334.0,NaN,317.0,NaN,343.0,357.0,NaN,336.0,NaN,...,NaN,NaN,NaN,NaN,333.0,334.0,339.0,NaN,340.0,NaN,330.0,NaN,340.0,333.0,NaN,338.0,354.0,NaN,338.0,338.0,NaN,NaN,343.0,NaN,328.0,NaN,343.0,NaN,342.0,NaN,NaN,344.0,NaN,NaN,347.0,343.0,343.0,NaN,NaN,NaN,NaN,339.0,337.0,NaN,NaN,341.0,334.0,333.0,NaN,NaN
4217,2023,1474,252.0,NaN,NaN,NaN,181.0,244.0,NaN,213.0,185.0,187.0,NaN,NaN,NaN,210.0,NaN,NaN,NaN,NaN,219.0,199.0,NaN,NaN,189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218.0,NaN,NaN,214.0,NaN,NaN,212.0,208.0,202.0,NaN,210.0,NaN,221.0,223.0,NaN,202.0,NaN,...,NaN,NaN,NaN,NaN,175.0,181.0,204.0,NaN,167.0,NaN,202.0,NaN,205.0,182.0,NaN,211.0,251.0,NaN,201.0,189.0,NaN,NaN,207.0,NaN,207.0,NaN,226.0,NaN,221.0,NaN,NaN,207.0,NaN,NaN,216.0,205.0,218.0,NaN,NaN,NaN,NaN,200.0,191.0,NaN,NaN,213.0,186.0,167.0,NaN,NaN
4218,2023,1475,292.0,NaN,NaN,NaN,253.0,281.0,NaN,265.0,255.0,276.0,NaN,NaN,NaN,281.0,NaN,NaN,NaN,NaN,289.0,269.0,NaN,NaN,278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,261.0,NaN,NaN,319.0,NaN,NaN,287.0,265.0,269.0,NaN,222.0,NaN,281.0,278.0,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,247.0,255.0,290.0,NaN,269.0,NaN,248.0,NaN,288.0,256.0,NaN,263.0,314.0,NaN,268.0,282.0,NaN,NaN,279.0,NaN,259.0,NaN,283.0,NaN,264.0,NaN,NaN,264.0,NaN,NaN,245.0,282.0,272.0,NaN,NaN,NaN,NaN,278.0,266.0,NaN,NaN,277.0,267.0,258.0,NaN,NaN
4219,2023,1476,281.0,NaN,NaN,NaN,308.0,259.0,NaN,336.0,318.0,312.0,NaN,NaN,NaN,333.0,NaN,NaN,NaN,NaN,326.0,303.0,NaN,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322.0,NaN,NaN,325.0,NaN,NaN,336.0,322.0,312.0,NaN,264.0,NaN,317.0,315.0,NaN,309.0,NaN,...,NaN,NaN,NaN,NaN,297.0,343.0,326.0,NaN,263.0,NaN,308.0,NaN,331.0,262.0,NaN,327.0,337.0,NaN,322.0,321.0,NaN,NaN,326.0,NaN,327.0,NaN,334.0,NaN,332.0,NaN,NaN,327.0,NaN,NaN,333.0,330.0,328.0,NaN,NaN,NaN,NaN,323.0,320.0,NaN,NaN,319.0,309.0,304.0,NaN,NaN
4220,2023,1477,347.0,NaN,NaN,NaN,283.0,283.0,NaN,302.0,308.0,311.0,NaN,NaN,NaN,309.0,NaN,NaN,NaN,NaN,319.0,327.0,NaN,NaN,315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316.0,NaN,NaN,327.0,NaN,NaN,324.0,324.0,311.0,NaN,293.0,NaN,312.0,311.0,NaN,314.0,NaN,...,NaN,NaN,NaN,NaN,302.0,298.0,315.0,NaN,308.0,NaN,305.0,NaN,316.0,312.0,NaN,306.0,330.0,NaN,311.0,310.0,NaN,NaN,320.0,NaN,300.0,NaN,313.0,NaN,317.0,NaN,NaN,308.0,NaN,NaN,291.0,315.0,313.0,NaN,NaN,NaN,NaN,311.0,312.0,NaN,NaN,315.0,314.0,305.0,NaN,NaN

Omit any systems that are missing a large amount of data

In [5]:
df_ordinals = df_ordinals.loc[:, (df_ordinals.count()/df_ordinals.shape[0]) > 0.75]

df_ordinals

,Season,TeamID,7OT,BBT,BIH,BWE,COL,DCI,DII,DOK,DOL,DUN,EBP,KPK,KRA,LMC,LOG,MAS,MOR,PGH,POM,REW,RT,RTH,RTP,SAG,SEL,SFX,SPR,STH,TPR,TRK,TRP,WIL,WLK,WOB,WOL
0,2012,1102,146.0,185.0,177.0,NaN,168.0,177.0,NaN,177.0,185.0,170.0,166.0,172.0,151.0,222.0,NaN,184.0,174.0,154.0,187.0,161.0,149.0,147.0,175.0,175.0,156.0,185.0,NaN,173.0,NaN,NaN,NaN,152.0,172.0,158.0,172.0
1,2012,1103,80.0,54.0,77.0,NaN,82.0,92.0,NaN,71.0,77.0,119.0,69.0,84.0,88.0,81.0,NaN,72.0,88.0,85.0,78.0,84.0,58.0,88.0,69.0,74.0,87.0,75.0,NaN,63.0,NaN,NaN,NaN,88.0,75.0,85.0,65.0
2,2012,1104,35.0,36.0,39.0,NaN,34.0,51.0,NaN,37.0,40.0,40.0,24.0,29.0,35.0,32.0,NaN,44.0,36.0,33.0,30.0,48.0,29.0,33.0,51.0,29.0,33.0,43.0,NaN,29.0,NaN,NaN,NaN,35.0,25.0,34.0,41.0
3,2012,1105,338.0,334.0,335.0,NaN,338.0,337.0,NaN,337.0,342.0,337.0,338.0,340.0,335.0,329.0,NaN,342.0,338.0,337.0,341.0,328.0,340.0,341.0,332.0,340.0,338.0,337.0,NaN,334.0,NaN,NaN,NaN,340.0,340.0,336.0,333.0
4,2012,1106,300.0,305.0,312.0,NaN,308.0,318.0,NaN,321.0,319.0,332.0,318.0,310.0,321.0,303.0,NaN,323.0,323.0,313.0,325.0,301.0,326.0,324.0,304.0,320.0,312.0,318.0,NaN,307.0,NaN,NaN,NaN,315.0,323.0,316.0,306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,2023,1473,336.0,341.0,338.0,344.0,338.0,344.0,344.0,349.0,334.0,317.0,343.0,345.0,340.0,347.0,334.0,351.0,341.0,338.0,339.0,333.0,330.0,340.0,333.0,354.0,338.0,338.0,328.0,342.0,347.0,343.0,343.0,339.0,337.0,334.0,333.0
4217,2023,1474,252.0,185.0,187.0,219.0,189.0,214.0,212.0,208.0,202.0,210.0,221.0,185.0,197.0,240.0,184.0,220.0,194.0,200.0,204.0,175.0,202.0,205.0,182.0,251.0,201.0,189.0,207.0,221.0,216.0,205.0,218.0,200.0,191.0,186.0,167.0
4218,2023,1475,292.0,255.0,276.0,289.0,278.0,319.0,287.0,265.0,269.0,222.0,281.0,265.0,283.0,269.0,251.0,301.0,274.0,287.0,270.0,247.0,248.0,288.0,256.0,314.0,268.0,282.0,259.0,264.0,245.0,282.0,272.0,278.0,266.0,267.0,258.0
4219,2023,1476,281.0,318.0,312.0,326.0,301.0,325.0,336.0,322.0,312.0,264.0,317.0,298.0,316.0,328.0,315.0,327.0,327.0,321.0,335.0,297.0,308.0,331.0,262.0,337.0,322.0,321.0,327.0,332.0,333.0,330.0,328.0,323.0,320.0,309.0,304.0
4220,2023,1477,347.0,308.0,311.0,319.0,315.0,327.0,324.0,324.0,311.0,293.0,312.0,306.0,315.0,285.0,304.0,326.0,308.0,312.0,303.0,302.0,305.0,316.0,312.0,330.0,311.0,310.0,300.0,317.0,291.0,315.0,313.0,311.0,312.0,314.0,305.0

In [6]:
df_teams = pd.read_csv(r'..\data\unprocessed\kaggle\MTeams.csv')

df_teams

     TeamID          TeamName  FirstD1Season  LastD1Season
0      1101       Abilene Chr           2014          2024
1      1102         Air Force           1985          2024
2      1103             Akron           1985          2024
3      1104           Alabama           1985          2024
4      1105       Alabama A&M           2000          2024
..      ...               ...            ...           ...
373    1474         Queens NC           2023          2024
374    1475  Southern Indiana           2023          2024
375    1476         Stonehill           2023          2024
376    1477   TX A&M Commerce           2023          2024
377    1478          Le Moyne           2024          2024

[378 rows x 4 columns]

In [7]:
id_to_name = dict(zip(df_teams['TeamID'], df_teams['TeamName']))

df_ordinals.insert(df_ordinals.columns.get_loc('TeamID') + 1, 'Team', df_ordinals['TeamID'].map(id_to_name))

df_ordinals

,Season,TeamID,Team,7OT,BBT,BIH,BWE,COL,DCI,DII,DOK,DOL,DUN,EBP,KPK,KRA,LMC,LOG,MAS,MOR,PGH,POM,REW,RT,RTH,RTP,SAG,SEL,SFX,SPR,STH,TPR,TRK,TRP,WIL,WLK,WOB,WOL
0,2012,1102,Air Force,146.0,185.0,177.0,NaN,168.0,177.0,NaN,177.0,185.0,170.0,166.0,172.0,151.0,222.0,NaN,184.0,174.0,154.0,187.0,161.0,149.0,147.0,175.0,175.0,156.0,185.0,NaN,173.0,NaN,NaN,NaN,152.0,172.0,158.0,172.0
1,2012,1103,Akron,80.0,54.0,77.0,NaN,82.0,92.0,NaN,71.0,77.0,119.0,69.0,84.0,88.0,81.0,NaN,72.0,88.0,85.0,78.0,84.0,58.0,88.0,69.0,74.0,87.0,75.0,NaN,63.0,NaN,NaN,NaN,88.0,75.0,85.0,65.0
2,2012,1104,Alabama,35.0,36.0,39.0,NaN,34.0,51.0,NaN,37.0,40.0,40.0,24.0,29.0,35.0,32.0,NaN,44.0,36.0,33.0,30.0,48.0,29.0,33.0,51.0,29.0,33.0,43.0,NaN,29.0,NaN,NaN,NaN,35.0,25.0,34.0,41.0
3,2012,1105,Alabama A&M,338.0,334.0,335.0,NaN,338.0,337.0,NaN,337.0,342.0,337.0,338.0,340.0,335.0,329.0,NaN,342.0,338.0,337.0,341.0,328.0,340.0,341.0,332.0,340.0,338.0,337.0,NaN,334.0,NaN,NaN,NaN,340.0,340.0,336.0,333.0
4,2012,1106,Alabama St,300.0,305.0,312.0,NaN,308.0,318.0,NaN,321.0,319.0,332.0,318.0,310.0,321.0,303.0,NaN,323.0,323.0,313.0,325.0,301.0,326.0,324.0,304.0,320.0,312.0,318.0,NaN,307.0,NaN,NaN,NaN,315.0,323.0,316.0,306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,2023,1473,Lindenwood,336.0,341.0,338.0,344.0,338.0,344.0,344.0,349.0,334.0,317.0,343.0,345.0,340.0,347.0,334.0,351.0,341.0,338.0,339.0,333.0,330.0,340.0,333.0,354.0,338.0,338.0,328.0,342.0,347.0,343.0,343.0,339.0,337.0,334.0,333.0
4217,2023,1474,Queens NC,252.0,185.0,187.0,219.0,189.0,214.0,212.0,208.0,202.0,210.0,221.0,185.0,197.0,240.0,184.0,220.0,194.0,200.0,204.0,175.0,202.0,205.0,182.0,251.0,201.0,189.0,207.0,221.0,216.0,205.0,218.0,200.0,191.0,186.0,167.0
4218,2023,1475,Southern Indiana,292.0,255.0,276.0,289.0,278.0,319.0,287.0,265.0,269.0,222.0,281.0,265.0,283.0,269.0,251.0,301.0,274.0,287.0,270.0,247.0,248.0,288.0,256.0,314.0,268.0,282.0,259.0,264.0,245.0,282.0,272.0,278.0,266.0,267.0,258.0
4219,2023,1476,Stonehill,281.0,318.0,312.0,326.0,301.0,325.0,336.0,322.0,312.0,264.0,317.0,298.0,316.0,328.0,315.0,327.0,327.0,321.0,335.0,297.0,308.0,331.0,262.0,337.0,322.0,321.0,327.0,332.0,333.0,330.0,328.0,323.0,320.0,309.0,304.0
4220,2023,1477,TX A&M Commerce,347.0,308.0,311.0,319.0,315.0,327.0,324.0,324.0,311.0,293.0,312.0,306.0,315.0,285.0,304.0,326.0,308.0,312.0,303.0,302.0,305.0,316.0,312.0,330.0,311.0,310.0,300.0,317.0,291.0,315.0,313.0,311.0,312.0,314.0,305.0

Drop some ranking systems that don't seem helpful

In [8]:
# df_ordinals.drop(
#     columns=[
#         'WOB',
#         'TRP',
#         'PGH',
#         'BBT',
#         'BIH',
#     ],
#     inplace=True
# )

In [9]:
df_ordinals.drop(
    columns=[
        'WOB',
        'TRP',
        'PGH',
        'BBT',
        'BIH',
        'MAS',
        'REW',
    ],
    inplace=True
)

C:\Users\mhugh\AppData\Local\Temp\ipykernel_10040\4289560573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordinals.drop(

In [10]:
# df_ordinals.drop(
#     columns=[
#         'WOB',
#         'TRP',
#         'PGH',
#         'BBT',
#         'BIH',
#         'RT',
#         'REW',
#         'RTP',
#         '7OT',
#     ],
#     inplace=True
# )

In [11]:
df_ordinals.columns

Index(['Season', 'TeamID', 'Team', '7OT', 'BWE', 'COL', 'DCI', 'DII', 'DOK',
       'DOL', 'DUN', 'EBP', 'KPK', 'KRA', 'LMC', 'LOG', 'MOR', 'POM', 'RT',
       'RTH', 'RTP', 'SAG', 'SEL', 'SFX', 'SPR', 'STH', 'TPR', 'TRK', 'WIL',
       'WLK', 'WOL'],
      dtype='object')

In [11]:
df_ordinals.to_csv(
    '../data/preprocessed/kaggle/ordinals.csv', 
    index=False
)

'Done'

'Done'